[access]
	inheritFrom = All-Projects
[submit]
[access "refs/*"]
	owner = group user/swami1221
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/swami1221
	label-Verified = -1..+1 group user/swami1221
	push = group user/swami1221
	read = group user/swami1221
	rebase = group user/swami1221
	removeReviewer = group user/swami1221
	submit = group user/swami1221
[access "refs/heads/*"]
	create = group user/swami1221
	push = +force group user/swami1221
	pushMerge = group user/swami1221
	read = group user/swami1221
[access "refs/tags/*"]
	push = group user/swami1221
	push = +force group user/swami1221
